html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {	
	margin: 0;
    color: #333;
    font: 16px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;    
}

ul {
    list-style-type: none;
    padding: 0;
	margin-top: 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {	
	background-color: aliceblue;
	padding: 0 5px;
}

a.asml:hover {	
	padding: 0;
	color: aliceblue;
    background-color: #A32B68; 
}

.container{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;  
	align-items: stretch;
}

body > header {
	position: relative;    
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: 30px;
}

body > header:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

#heading {	
	margin: 0 auto;
    margin-left: 26%;
}

#resume {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -26px;
    border: 2px solid whitesmoke;
    border-right: 0;
    padding: 0 10px;
}

/* #image-div {
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	height: 100%;
	min-width: 225px;
    padding-top: 25px;
	margin-left: 2%;
    background-color: #39B7BD; 
    text-align: center;
    z-index: 100;
}
 */
 
 
.portrait {
	margin: 30px auto;
	height: auto;
	min-width: 225px;
	max-width: 240px;
	max-height: 240px;	
    overflow: hidden;
    z-index: 100;
}

.octogon {
    -webkit-clip-path: polygon(50% 0%, 38.11% 6.7%, 24.99% 6.72%, 18.06% 18.44%, 6.7% 25%, 6.56% 38.64%, 0% 50%, 6.7% 61.89%, 6.7% 75%, 18.44% 81.94%, 25% 93.3%, 38.64% 93.44%, 50% 100%, 61.88% 93.3%, 75% 93.3%, 81.94% 81.56%, 93.3% 74.9%, 93.44% 61.36%, 100% 50%, 93.3% 38.11%, 93.3% 25%, 81.56% 18.06%, 74.96% 6.7%, 61.36% 6.56%, 50% 0%);
    clip-path: url(#octogon);
}

.portrait img {
  display: block;
  height: auto;
  width: 100%;
}
/* img {
    width: 87%;
    border-radius: 50%;
} */

.img-container{
/* 	this container is necessary to align the img with the aside */
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
    width: 25%;
    min-width: 225px;
	margin-left: 2%;
	text-align: center;
}

h1, h2, h3 {
    font: 300 1.2em "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;   
    text-transform: uppercase;
}

h1 {
    font-size: 2em;
}

aside {    
    width: 25%;
    min-width: 225px;
    padding-top: 25px;
    padding-bottom: 30px;
	margin-left: 2%;
    background-color: #39B7BD;
    text-align: center;
    z-index: 90;
}

aside section:first-of-type {
    margin-top: 0;
}

aside header {
    background-color: aliceblue;
    width: 80%;
    margin: 20px auto;
}

aside h2 {
    padding: 7px 0;
}

aside h3 {
    font-size: 1em;
    color: white;
    margin: 10px;
}

h3.contact {
	text-align: left;
	margin-left: 36%;
}

aside p {
    margin: 5px;
}


.skills li {
    text-transform: uppercase;
    padding: 5px 0;
}

p.centered {
    text-align: center;
    font-style: italic;
    margin: 0;
}

p.important {
	width: 80%;
	margin: auto auto;	
	background-color: #624245;
	margin-top: 5px;
	margin-bottom: 14px;
	padding: 2px 0;
}

p.important a {
	color: aliceblue;
}

p.important:hover {
	background-color: aliceblue;		
}

p.important:hover  a, p.important a:hover{
	color: #624245;		
}

main {    
    width: 60%;   
    margin: 0 auto;
}

main article:first-of-type {
    padding-top: 30px;
}

article header {
    color: white;
    background-color: #39B7BD;
}

article p {
    text-align: justify;
}

article h2, article h3 {
    text-align: center;
    padding: 7px 0;
    margin-bottom: 3px;	
}

article h3{
	font: 500 1.2em "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #A32B68;
	background: -webkit-linear-gradient(top, #fd0b58 0px, #a32b68 100%);
	background: linear-gradient(top, #fd0b58 0px, #a32b68 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

hr {   
	width: 70px;
    height: 3px;
    border: 0;
    background-color: #eee;
}


article span {
    text-align: center;
}

.thanks p {
    font-family: "quentinregular", "Sofia", cursive;
    font-size: 2em;
    color: #e3094f;
    padding: 20px;
    text-align: center;
}


footer {
    margin: 60px 0 40px 0;
}

small {
	font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 90%;
	float: right;
	padding-bottom: 20px;
	padding-right: 20px;
}

/*! Quentin custom font gGenerated by Font Squirrel on Nov 18, 2018 */
@font-face {
    font-family: "quentinregular";
    src: url('custom_fonts/quentin-webfont.woff') format('woff2'),
         url('custom_fonts/quentin-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
